{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {

  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
